<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><a href="#home">Home</a></li>
    <li class="active"><a href="#about">About</a></li>
  </ul>
  <h3 class="muted">BRHT Boilerplate</h3>
</div>

<hr>

<div class="row-fluid">
  <div class="span12">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
</div>

<hr>

<footer>
  <p><b>BRHT</b> build by <a href="https://twitter.com/anotherwebstorm" target="_blank">Marco Cardoso</a>.</p>
</footer>