<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <h3 class="muted">BRHT Boilerplate</h3>
</div>

<hr>

<div class="jumbotron">
  <h1>Super Blast BRHT</h1>
  <p class="lead">A boilerplate for those who wanted to gather <b>Backbone</b>, <b>RequireJS</b>, <b>Handlebars</b> and <b>Twitter Bootstrap</b>. If you need to learn more about these libraries please refer to google</p>
  <a class="btn btn-large btn-success" href="#">Download Project at Github</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Backbone</h4>
    <p>Backbone gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.</p>

    <h4>RequireJS</h4>
    <p>RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node. Using a modular script loader like RequireJS will improve the speed and quality of your code.</p>
  </div>

  <div class="span6">
    <h4>Handlebars</h4>
    <p>Handlebars provides the power necessary to let you build semantic templates effectively with no frustration. Mustache templates are compatible with Handlebars, so you can take a Mustache template, import it into Handlebars, and start taking advantage of the extra Handlebars features.</p>

    <h4>Twitter Bootstrap</h4>
    <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</p>
  </div>
</div>

<hr>

<footer>
  <p><b>BRHT</b> build by <a href="https://twitter.com/anotherwebstorm" target="_blank">Marco Cardoso</a>.</p>
</footer>